{
    "extends": ["@nuxtjs/eslint-config-typescript"],
    "rules": {
        "no-console": "off",
        "import/first": "off",
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": ["error", {
            "arrays": "never",
            "objects": "always-multiline",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        "vue/multi-word-component-names": "off"
    }
}
