version: '3'
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    command: npm run dev
    volumes:
      - ./frontend:/app/
      - publicFolder:/app/.output/public
      - /app/node_modules
    networks:
      - webapp_network
  server:
    build:
      context: .
    ports:
      - "8080:8080"
    links:
      - frontend
      - pgsql
    volumes:
      - ./backend:/app/api
      - ./frontend:/app/frontend
    networks:
      - webapp_network
  pgsql:
    build:
      context: ./db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./db/seed:/seed
      - ./db/data:/var/lib/postgresql/data
    networks:
      - webapp_network

networks:
  webapp_network:

volumes:
  publicFolder: